* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.main-project {
  width: 100%;
  height: 100vh;
}
.main-project .menu-bar {
  width: 300px;
  height: 100vh;
  background: #232B2B;
  position: fixed;
  overflow: scroll;
  text-align: center;
  margin-left: -300px;
  transition: margin 0.5s ease-in;
}
.main-project .menu-bar #close {
  color: #F5C71A;
  font-size: 60px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 200px;
}
.main-project .menu-bar .logo {
  width: 70px;
  height: 70px;
}
.main-project .menu-bar .title {
  font-size: 20px;
  color: #F5C71A;
  font-weight: 600px;
}
.main-project .menu-bar .created {
  font-size: 15px;
  color: #F5C71A;
  font-weight: 100px;
}
.main-project .menu-bar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}
.main-project .menu-bar ul button {
  margin: 20px 0px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-style: none;
  border-radius: 15px;
  color: #000000;
  background: #F5C71A;
}
.main-project .menu-bar.hide {
  margin-left: -300px;
}
.main-project .menu-bar.show {
  margin-left: 0px;
}
.main-project .header {
  width: 100%;
  height: 80px;
  padding: 20px 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-project .header .toggle-menu {
  width: 50px;
  cursor: pointer;
  margin-right: 100px;
}
.main-project .header .toggle-menu span {
  display: block;
  content: " ";
  background: #000000;
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.main-project .header .logo {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}
.main-project .header .head h1 {
  font-size: 30px;
  text-shadow: 7px 3px 4px rgba(35, 43, 43, 0.2);
}
.main-project .project {
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 200px;
  background: #232B2B;
}
.main-project .project .info {
  text-align: center;
}
.main-project .project .info .title-project {
  font-size: 40px;
  color: #F5C71A;
}
.main-project .project .info .des-project {
  font-size: 16px;
  font-weight: 200;
  color: #ffffff;
}
.main-project .project .stop-watch {
  display: none;
}

@media screen and (max-width: 770px) {
  .main-project {
    width: 100%;
    height: 100vh;
  }
  .main-project .menu-bar {
    width: 300px;
    height: 100vh;
    background: #232B2B;
    position: fixed;
    overflow: scroll;
    text-align: center;
    margin-left: -300px;
    transition: margin 0.5s ease-in;
  }
  .main-project .menu-bar #close {
    color: #F5C71A;
    font-size: 60px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 200px;
  }
  .main-project .menu-bar .logo {
    width: 70px;
    height: 70px;
  }
  .main-project .menu-bar .title {
    font-size: 20px;
    color: #F5C71A;
    font-weight: 600px;
  }
  .main-project .menu-bar .created {
    font-size: 15px;
    color: #F5C71A;
    font-weight: 100px;
  }
  .main-project .menu-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }
  .main-project .menu-bar ul button {
    margin: 20px 0px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-style: none;
    border-radius: 15px;
    color: #000000;
    background: #F5C71A;
  }
  .main-project .menu-bar.hide {
    margin-left: -300px;
  }
  .main-project .menu-bar.show {
    margin-left: 0px;
  }
  .main-project .header {
    width: 100%;
    height: 80px;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .main-project .header .toggle-menu {
    width: 50px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 30px;
  }
  .main-project .header .toggle-menu span {
    display: block;
    content: " ";
    background: #000000;
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .main-project .header .logo {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    margin-top: 30px;
  }
  .main-project .header .head {
    display: none;
  }
  .main-project .project {
    width: 430px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 40px;
    background: #232B2B;
  }
  .main-project .project .info {
    text-align: center;
    padding: 30px;
  }
  .main-project .project .info .title-project {
    font-size: 30px;
    color: #F5C71A;
    margin-bottom: 20px;
  }
  .main-project .project .info .des-project {
    font-size: 16px;
    font-weight: 200;
    color: #ffffff;
  }
  .main-project .project .stop-watch {
    display: none;
  }
}/*# sourceMappingURL=project.css.map */