// VARIABLES
$white: #ffffff;
$primary: #F5C71A;
$secondary: rgba($color: #F5C71A, $alpha: 0.5);
$lightblack: #232B2B;
$black: #000000;
$hoverbtn:#b18b02;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-project{
    width: 100%;
    height: 100vh;
    background: red;
}